{{define "indexHTML"}}

<head>
    <link rel="stylesheet" href="/static/styles/app.css">
    <link rel="stylesheet" href="/static/styles/material_icons.css">
    <script src="/static/scripts/axios.min.js"></script>
    <script src="/static/scripts/jquery-3.3.1-min.js"></script>
    <script src="/static/scripts/vue-2.5.17.js"></script>
    <script src="/static/scripts/helper.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="/templates/attack/attack.js"></script>
    <script src="/templates/logs/logs.js"></script>
    <script src="/templates/monitor/monitor.js"></script>
    <script src="/templates/settings/settings.js"></script>
    <script src="/static/scripts/particles.min.js"></script>
    <script src="/templates/home/home.js"></script>
    <script src="/templates/components/modal.js"></script>
    <meta name="viewport" content="width=device-width">
</head>

<div class="noselect" id="index">
    <div class="navbar vc">
        <div class="navbar-logo">
            <div class="navbar-icon vhc">
                <input id="sidebar-toggle" type="checkbox" role="button" class="toggle-btn"/>
                <label for="sidebar-toggle" class="vhc toggle-ico"><i class="material-icons icon-xs logo-nav-icon"></i></label>
                <div class="nav-menu vhc">
                    <div class="panel col-100">
                        <div class="panel-content col-100 hc">
                            <a v-on:click="setComponent('home')" class="l2 clickable no-touch-table navbar-menu-item col-100" style="height:60px;" v-bind:class="{ active: component == 'home' }">
                                <div class="panel col-100">
                                    <div class="panel-header tc" style="font-size:25px">Home</div>
                                </div> 
                            </a> 
                            <a v-on:click="setComponent('monitor')" class="l2 clickable no-touch-table navbar-menu-item col-100" style="height:60px;" v-bind:class="{ active: component == 'monitor' }">
                                <div class="panel col-100">
                                    <div class="panel-header tc" style="font-size:25px" >Monitor</div>
                                </div>
                            </a>
                            <a v-on:click="setComponent('attack')" class="l2 clickable no-touch-table navbar-menu-item col-100" style="height:60px;" v-bind:class="{ active: component == 'attack' }">
                                <div class="panel col-100">
                                    <div class="panel-header tc" style="font-size:25px">Deauther</div>
                                </div>
                            </a>
                            <a v-on:click="setComponent('logs')" class="l2 clickable no-touch-table navbar-menu-item col-100" style="height:60px;" v-bind:class="{ active: component == 'logs' }">
                                <div class="panel col-100">
                                    <div class="panel-header tc" style="font-size:25px">Logs</div>
                                </div>
                            </a>
                            <a v-on:click="setComponent('settings')" class="l2 clickable no-touch-table navbar-menu-item col-100" style="height:60px;" v-bind:class="{ active: component == 'settings' }">
                                <div class="panel col-100">
                                    <div class="panel-header tc" style="font-size:25px">Settings</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-navigation vhc">
            <a v-on:click="setComponent('home')" class="navbar-item vhc" v-bind:class="{ active: component == 'home' }">
                <div class="vhc">Home</div>
            </a>
            <a v-on:click="setComponent('monitor')" class="navbar-item vhc" v-bind:class="{ active: component == 'monitor' }">
                <div class="vhc">Monitor</div>
            </a>
            <a v-on:click="setComponent('attack')" class="navbar-item vhc" v-bind:class="{ active: component == 'attack' }">
                <div class="vhc">Deauther</div>
            </a>
            <a v-on:click="setComponent('logs')" class="navbar-item vhc" v-bind:class="{ active: component == 'logs' }">
                <div class="vhc">Logs</div>
            </a>
            <a v-on:click="setComponent('settings')" class="navbar-item vhc" v-bind:class="{ active: component == 'settings' }">
                <div class="vhc">Settings</div>
            </a>
        </div>
    </div>
    <div class="content vhc">
        <home v-if="component == 'home'"></home>
        <keep-alive>
            <monitor v-if="component == 'monitor'"></monitor>
        </keep-alive>
        <keep-alive>
            <attack v-if="component == 'attack'"></attack>
        </keep-alive>
        <keep-alive>
            <logs v-if="component == 'logs'"></logs>
        </keep-alive>
        <keep-alive>
            <settings v-if="component == 'settings'"></settings>
        </keep-alive>
    </div>
</div>
<script src="/templates/index.js"></script>
{{end}}